<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link href="/css/rating.css" rel="stylesheet">
    <!-- map link -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
</head>
<body>
    <!--ye jyada bada ni ho isliye codes ko bhi dusri jagah likh ke yaha access kar lenge jese isme icludes se karenge-->
    <%- include("../includes/navbar.ejs") %><!--output access karne ke liye or .. dot matlab ek path uper ye navbar ko access kiya-->
    <!-- map script tag -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <div class="container-fluid px-5">
        <%- include("../includes/flash.ejs") %>
        <!--ye flash message ko access kiya hai jise apn ne app.js me set kiya tha or ye flash message apn ko sabhi pages me dikhai dega jaha apn boilerplate layout use karenge-->
        <%- body %>
    </div>
    <!--Ab isse hoga kya ki yaha jo bhi changes apn karenge wo apn ko sabhi ejs me nazar aayega -->
    <!--Or apne page pe bhi apn ko wo changes sabhi jagh dikhega ye fayda hai apn ko -->
    <!--bas ek line likhni hai apn ko layout("/layouts/boilerplate") ye likhna hai werna sab hata do only body tag rehne dena hai or sabse uper ye likh dena hai-->
    <%- include("../includes/footer.ejs") %><!--ye footer ko access kiya-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script><!--ye bootstrap ke js ko access kiya taki apn ke bootstrap ke components jaise navbar toggle wagairah sahi se kaam karein-->
    <script src="/js/script.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>

